In [2]:
import pandas as pd

In [3]:
data = pd.DataFrame(
    data=[
        ['312', 'A1', 0.12, 'LEFT'],
        ['312', 'A2', 0.37, 'LEFT'],
        ['312', 'C2', 0.68, 'LEFT'],
        ['313', 'A1', 0.07, 'RIGHT'],
        ['313', 'B1', 0.08, 'RIGHT'],
        ['314', 'A2', 0.29, 'LEFT'],
        ['314', 'B1', 0.14, 'RIGHT'],
        ['314', 'C2', 0.73, 'RIGHT'],
        ['711', 'A1', 4.01, 'RIGHT'],
        ['712', 'A2', 3.29, 'LEFT'],
        ['713', 'B1', 5.74, 'LEFT'],
        ['714', 'B2', 3.32, 'RIGHT'],
    ],
    columns=['subject_id', 'condition_id', 'response_time', 'response'],
)
data

   subject_id condition_id  response_time response
0         312           A1           0.12     LEFT
1         312           A2           0.37     LEFT
2         312           C2           0.68     LEFT
3         313           A1           0.07    RIGHT
4         313           B1           0.08    RIGHT
5         314           A2           0.29     LEFT
6         314           B1           0.14    RIGHT
7         314           C2           0.73    RIGHT
8         711           A1           4.01    RIGHT
9         712           A2           3.29     LEFT
10        713           B1           5.74     LEFT
11        714           B2           3.32    RIGHT

In [4]:
condition_to_orientation = {
    'A1': 0,
    'A2': 0,
    'B1': 45,
    'B2': 45,
    'C1': 90,
}

condition_to_duration = {
    'A1': 0.1,
    'A2': 0.01,
    'B1': 0.1,
    'B2': 0.01,
    'C1': 0.2,
}

condition_to_surround = {
    'A1': 'FULL',
    'A2': 'NONE',
    'B1': 'NONE',
    'B2': 'FULL',
    'C1': '2-SIDES',
}


condition_to_stimulus_type = {
    'A1': 'LINES',
    'A2': 'DOTS',
    'B1': 'PLAID',
    'B2': 'PLAID',
    'C1': 'LINES',
}

# Manually adding the condition properties

In [5]:
data_with_properties = data.copy()

In [6]:
data_with_properties['orientation'] = data_with_properties['condition_id'].map(condition_to_orientation)
data_with_properties['duration'] = data_with_properties['condition_id'].map(condition_to_duration)
data_with_properties['surround'] = data_with_properties['condition_id'].map(condition_to_surround)
data_with_properties['stimulus_type'] = data_with_properties['condition_id'].map(condition_to_stimulus_type)

In [7]:
data_with_properties

,subject_id,condition_id,response_time,response,orientation,duration,surround,stimulus_type
0,312,A1,0.12,LEFT,0.0,0.10,FULL,LINES
1,312,A2,0.37,LEFT,0.0,0.01,NONE,DOTS
2,312,C2,0.68,LEFT,NaN,NaN,NaN,NaN
3,313,A1,0.07,RIGHT,0.0,0.10,FULL,LINES
4,313,B1,0.08,RIGHT,45.0,0.10,NONE,PLAID
5,314,A2,0.29,LEFT,0.0,0.01,NONE,DOTS
6,314,B1,0.14,RIGHT,45.0,0.10,NONE,PLAID
7,314,C2,0.73,RIGHT,NaN,NaN,NaN,NaN
8,711,A1,4.01,RIGHT,0.0,0.10,FULL,LINES
9,712,A2,3.29,LEFT,0.0,0.01,NONE,DOTS
10,713,B1,5.74,LEFT,45.0,0.10,NONE,PLAID
11,714,B2,3.32,RIGHT,45.0,0.01,FULL,PLAID

# Using a join operation

In [61]:
condition_properties = pd.DataFrame(
    [condition_to_orientation, condition_to_duration, condition_to_surround, condition_to_stimulus_type],
    index=['orientation', 'duration', 'surround', 'stimulus_type'],
).T
condition_properties

   orientation duration surround stimulus_type
A1           0      0.1     FULL         LINES
A2           0     0.01     NONE          DOTS
B1          45      0.1     NONE         PLAID
B2          45     0.01     FULL         PLAID
C1          90      0.2  2-SIDES         LINES

In [62]:
data.merge(condition_properties, left_on='condition_id', right_index=True)

,subject_id,condition_id,response_time,response,orientation,duration,surround,stimulus_type
0,312,A1,0.12,LEFT,0,0.1,FULL,LINES
3,313,A1,0.07,RIGHT,0,0.1,FULL,LINES
1,312,A2,0.37,LEFT,0,0.01,NONE,DOTS
5,314,A2,0.29,LEFT,0,0.01,NONE,DOTS
4,313,B1,0.08,RIGHT,45,0.1,NONE,PLAID
6,314,B1,0.14,RIGHT,45,0.1,NONE,PLAID

In [63]:
data.merge(condition_properties, left_on='condition_id', right_index=True, how='left')

,subject_id,condition_id,response_time,response,orientation,duration,surround,stimulus_type
0,312,A1,0.12,LEFT,0,0.1,FULL,LINES
1,312,A2,0.37,LEFT,0,0.01,NONE,DOTS
2,312,C2,0.68,LEFT,NaN,NaN,NaN,NaN
3,313,A1,0.07,RIGHT,0,0.1,FULL,LINES
4,313,B1,0.08,RIGHT,45,0.1,NONE,PLAID
5,314,A2,0.29,LEFT,0,0.01,NONE,DOTS
6,314,B1,0.14,RIGHT,45,0.1,NONE,PLAID
7,314,C2,0.73,RIGHT,NaN,NaN,NaN,NaN

In [64]:
data.merge(condition_properties, left_on='condition_id', right_index=True, how='outer')

,subject_id,condition_id,response_time,response,orientation,duration,surround,stimulus_type
0.0,312,A1,0.12,LEFT,0,0.1,FULL,LINES
3.0,313,A1,0.07,RIGHT,0,0.1,FULL,LINES
1.0,312,A2,0.37,LEFT,0,0.01,NONE,DOTS
5.0,314,A2,0.29,LEFT,0,0.01,NONE,DOTS
2.0,312,C2,0.68,LEFT,NaN,NaN,NaN,NaN
7.0,314,C2,0.73,RIGHT,NaN,NaN,NaN,NaN
4.0,313,B1,0.08,RIGHT,45,0.1,NONE,PLAID
6.0,314,B1,0.14,RIGHT,45,0.1,NONE,PLAID
NaN,NaN,B2,NaN,NaN,45,0.01,FULL,PLAID
NaN,NaN,C1,NaN,NaN,90,0.2,2-SIDES,LINES